@import "size";
@import "font";

.font-size-14 {
  font-size: rem(14);
}
.font-size-16 {
  font-size: rem(16);
}
.font-size-18 {
  font-size: rem(18);
}
.font-size-20 {
  font-size: rem(20);
}
.font-size-22 {
    font-size: rem(22);
}
.cursor-p {
    cursor: pointer;
}