@import "config";
body {
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  padding: 0;
  height: 100vh;
  width: 100vw;
  //align-items: center;
  .header {
    width: 100%;
    height: 10%;
    color: #16a085;
    display: flex;
    .logo {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      img {
        float: left;
        padding-right: 13px;
      }
      p {
        font-size: 1rem;
      }
    }
    .right-side {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      p {
        font-size: 1.2rem;
        cursor: pointer;
      }
      button {
        font-size: 1.1rem;
        width: 11rem;
        height: 2.5rem;
        border-radius: 5px;
        border: 0;
        background: #16A085;
        color: white;
      }
      button:hover {
        transition: .4s;
        background: #10C4B2;
      }
    }
  }
  .main {
    width: 100%;
    height: 80%;
    .head {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.9rem;
        color: #34495e;
      }
    }
    .content {
      width: 100%;
      height: 90%;
      display: block;
      margin: 0 auto;
      h5 {
        color: #e74c3c;
        padding-top: 2.4rem;
      }
      p {
        color: #7f8c8d;
      }
      .block {
        width: 35rem;
        height: 12rem;
        //border: 1px solid black;
      }
      .block img {
        height: 12rem;
        width: auto;
        float: left;
      }
      .block:nth-child(odd) {
        float: left;
      }
      .block:nth-child(2) {
        float: left;
      }
      .block:nth-child(4) {
        float: left;
      }
      .block:nth-child(6) {
        float: left;
      }
    }
  }
  .footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 11rem;
      height: 2.7rem;
      color: #E74C3C;
      text-decoration: none;
      background: white;
      border-radius: 5px;
      border: 1px solid #E74C3C;
    }
    button:hover {
      background: #E74C3C;
      color: white;
    }
  }
}
.block {
  //@media (max-width: 1199px) {
  //  margin-left: 20rem;
  //}
  @media (max-width: 991px) {
    margin-left: 15rem;
  }
  @media (max-width: 767px) {
    margin-left: 10rem;
  }
  @media (max-width: 575px) {
    margin-left: 11rem;
  }
}