@function rem($size) {
  @return $size / 16 * 1rem;
}
*{
  @media (max-width: 1199px) {
  font-size: 13px;
  }
  @media (max-width: 991px) {
  font-size: 12px;
  }
  @media (max-width: 767px) {
  font-size: 10px;
  }
  @media (max-width: 575px) {
  font-size: 8px;
  }
}
